{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  <body>
    <h1>prof page</h1>
    <h1>Add Subject</h1>
    <div id="table">
      <form id="addSubjectForm">
        <input type="text" id="subjectCode" placeholder="Subject Code" />
        <input type="text" id="subjectName" placeholder="subject Name" />
        <input type="text" id="facultyName" placeholder="faculty Name" />
        <input type="number" id="units" placeholder="No. of Units" />
        <input type="submit" />
      </form>
      <h1>list of subs</h1>

      {% for sub in subjects %}
      <p>{{sub}}</p>
      {% endfor %}
    </div>

    <script src="{% static 'prof/index.js' %}"></script>
  </body>
</html>
