<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome {{studentprof.firstName}}</h1>
    <h1>{{studentprof.lastName}}</h1>
    <h2>{{studentprof.guardianName}} {{studentprof.guardianNumber}}</h2>

    <h1>List of Available subjects</h1>
    {% for a in availSubs %}
    <p>{{a}}
      <form action="" method="post">
      {% csrf_token %}
        <button name="addSub" value="{{a.id}}">add</button>
      </form>
    </p>
    {% endfor %}

    <h1>List of Subjects</h1>
    {% for sub in subjects %}
    <li>
      <a
        href="{% url 'studentSubject' studentID=studentprof.studentNumber subjectCode=sub.subjectCode   %}"
        >{{sub.subjectName}}</a
      >
    </li>
    {% endfor %}

    <form method="post" action="/accounts/logout/" style="margin-top: 10px">
      {% csrf_token %}
      <button class="btn btn-dark" type="submit">Sign Out</button>
    </form>
  </body>
</html>
