{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <h1>Demographic profile</h1>

    <form method="post" action="/accounts/logout/" style="margin-top: 10px">
      {% csrf_token %}
      <button class="btn btn-dark" type="submit">Sign Out</button>
    </form>
    <br />
    <br />
    <br />
    <br />
    <form action="" method="post">
      {% csrf_token %}
      <input
        type="text"
        name="studentNumber"
        placeholder="Your Student Number"
      />
      <input type="text" name="firstName" placeholder="Your FirstName" />
      <input type="text" name="lastName" placeholder="Your LastName" />
      <select name="course" id="">
        <option value="" disabled selected>Select your Course</option>
        {% for course in courses %}
        <option value="{{course.id}}">{{course}}</option>
        {% endfor %}
      </select>
      <select name="yearlevel" id="">
        <option value="" disabled selected>Select your Year Level</option>
        {% for year in yearLevels %}
        <option value="{{year.id}}">{{year}}</option>
        {% endfor %}
      </select>
      <select name="gender" id="">
        <option value="" disabled selected>Select your Gender</option>
        {% for g in gender %}
        <option value="{{g.id}}">{{g}}</option>
        {% endfor %}
      </select>
      <input type="number" name="phoneNumber" placeholder="Your Phone Number" />
      <input
        type="email"
        name="email"
        value="{{request.user.email}}"
        disabled
      />
      <input
        type="number"
        name="guardian"
        placeholder="Emergency Contant Number"
      />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
